<body>
    <md-toolbar md-scroll-shrink md-shrink-speed-factor="0.75" class="md-tall content-header md-whiteframe-z1">
        <md-icon ng-show="app.showMenuButton()" ng-click="app.showMenu()" class="menu-icon" md-font-icon="fa fa-bars"></md-icon>
        
<h1>ModelValidation</h1>

<span class="doc-module-name">model/ModelValidation</span>

    </md-toolbar>
    <md-content>
        
<div>
    

    
    <div class="content-block md-whiteframe-z1">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Methods</span>
        </h2>
    </md-toolbar>
    <md-list>
        
        <md-item>
            <md-item-content>
                <div class="md-tile-content">
                    <h3 class="docs-function-name">
                        validate(<span class="doc-function-parameter-wrap">validationSettings <span class="type-hint type-hint-object">Object</span></span>, <span class="doc-function-parameter-wrap">value <span class="type-hint type-hint-">*</span></span>)
                        
                        
                    </h3>

                    <p><p>Validate a given value against the given validationSettings.
This checks if the value is of the defined <code>validationSettings.type</code>
if the value adheres to the set <code>validationSettings.min</code> and <code>validationSettings.max</code>
and runs any type specific validations like for example on the type PHONENUMBER if it is [0-9+ ] compliant.</p>
</p>

                    

                    
                    <div class="docs-function-returns">
                        <h4>
                            Returns <span class="type-hint type-hint-object">Object{status: boolean, messages: Array}</span>
                        </h4>
                        <p><p>Returns an object with the status. When the status is false the messages
array will contain messages on why the validation failed.</p>
</p>
                    </div>
                    

                    
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
        
        <md-item>
            <md-item-content>
                <div class="md-tile-content">
                    <h3 class="docs-function-name">
                        validateAgainstSchema(<span class="doc-function-parameter-wrap">model <span class="type-hint type-hint-model">Model</span></span>)
                        
                        
                    </h3>

                    <p><p>Sends a POST request against the <code>api/schemas</code> endpoint to check if the model is valid.</p>
</p>

                    
                    <div class="level-warn">
                        Currently only checks
                    </div>
                    

                    
                    <div class="docs-function-returns">
                        <h4>
                            Returns <span class="type-hint type-hint-array">Array</span>
                        </h4>
                        <p><p>Returns an array with validation messages if there are any.</p>
</p>
                    </div>
                    

                    
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
        
        <md-item>
            <md-item-content>
                <div class="md-tile-content">
                    <h3 class="docs-function-name">
                        getModelValidation()
                         <span class="docs-function-static">static</span>
                        
                    </h3>

                    <p><p>Returns the <code>ModelValidation</code> singleton. Creates a new one if it does not yet exist.
Grabs a logger instance by calling <code>Logger.getLogger</code></p>
</p>

                    

                    
                    <div class="docs-function-returns">
                        <h4>
                            Returns <span class="type-hint type-hint-modelvalidation">ModelValidation</span>
                        </h4>
                        <p><p>New or memoized instance of <code>ModelInstance</code></p>
</p>
                    </div>
                    

                    
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
        
    </md-list>
    </div>
    

    
</div>

    </md-content>
</body>
