<body>
    <md-toolbar md-scroll-shrink md-shrink-speed-factor="0.75" class="md-tall md-accent content-header md-whiteframe-z1">
        <md-icon ng-show="app.showMenuButton()" ng-click="app.showMenu()" class="menu-icon" md-font-icon="fa fa-bars"></md-icon>
        
<h1>ModelBase</h1>

<span class="doc-module-name">model/ModelBase</span>

    </md-toolbar>
    <md-content>
        
<div>
    

    
    <div class="content-block md-whiteframe-z1">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Methods</span>
        </h2>
    </md-toolbar>
    <md-list>
        
        <md-item>
            <md-item-content>
                <div class="md-tile-content">
                    <h3 class="docs-function-name">
                        save()
                        
                        
                    </h3>

                    <p><p>Checks if the model is dirty. When the model is dirty it will check if the values of the model are valid by calling
<code>validate</code>. If this is correct it will attempt to save the Model to the api.</p>
<pre><code class="lang-js">myModel.save()
.then((message) =&gt; console.log(message));
</code></pre>
</p>

                    
                    <div class="docs-function-returns">
                        <h4>
                            Returns <span class="type-hint type-hint-promise">Promise</span>
                        </h4>
                        <p><p>Returns a promise that resolves when the model has been saved or rejects with an error message.</p>
</p>
                    </div>
                    

                    
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
        
        <md-item>
            <md-item-content>
                <div class="md-tile-content">
                    <h3 class="docs-function-name">
                        validate()
                        
                        
                    </h3>

                    <p><p>This will run the validations on the properties which have validations set. Normally these validations are defined
through the DHIS2 schema. It will check min/max for strings/numbers etc.</p>
<pre><code class="lang-js">let modelValidation = myModel.validate();
if (myModel.status === false) {
  myModel.fields.forEach((fieldName) =&gt; console.log(fieldName));
}
</code></pre>
</p>

                    
                    <div class="docs-function-returns">
                        <h4>
                            Returns <span class="type-hint type-hint-object">Object{status: boolean, fields: Array}</span>
                        </h4>
                        <p><p>Object with a status property that represents if the model is valid or not
the fields array will return the names of the fields that are invalid.</p>
</p>
                    </div>
                    

                    
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
        
    </md-list>
    </div>
    

    
</div>

    </md-content>
</body>
