<body>
    <md-toolbar md-scroll-shrink md-shrink-speed-factor="0.75" class="md-tall content-header md-whiteframe-z1">
        <md-icon ng-show="app.showMenuButton()" ng-click="app.showMenu()" class="menu-icon" md-font-icon="fa fa-bars"></md-icon>
        
<h1>System</h1>

<span class="doc-module-name">system/System</span>

    </md-toolbar>
    <md-content>
        
<div>
    

    
    <div class="content-block md-whiteframe-z1">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Methods</span>
        </h2>
    </md-toolbar>
    <md-list>
        
        <md-item>
            <md-item-content>
                <div class="md-tile-content">
                    <h3 class="docs-function-name">
                        getSystem()
                         <span class="docs-function-static">static</span>
                        
                    </h3>

                    <p><p>Get a new instance of the system object.</p>
</p>

                    

                    
                    <div class="docs-function-returns">
                        <h4>
                            Returns <span class="type-hint type-hint-system">System</span>
                        </h4>
                        <p><p>Object with the system interaction properties</p>
</p>
                    </div>
                    

                    
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
        
    </md-list>
    </div>
    

    
    <div class="content-block md-whiteframe-z1">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Properties</span>
        </h2>
    </md-toolbar>
    <md-list>
        
        <md-item>
            <md-item-content>
                <div class="md-tile-content">
                    <h3 class="docs-property-name">settings <span class="type-hint type-hint-systemsettings">SystemSettings</span></h3>

                    <p><p>Contains a reference to a <code>SystemSettings</code> instance that can be used
to retrieve and save system settings.</p>
</p>
                    <p><pre><code class="lang-js">d2.system.settings.get(&#39;keyLastSuccessfulResourceTablesUpdate&#39;)
.then(systemSettingsValue =&gt; {
  console.log(&#39;Analytics was last updated on: &#39; + systemSettingsValue);
});
</code></pre>
</p>
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
        
    </md-list>
    </div>
    
</div>

    </md-content>
</body>
