<body>
    <md-toolbar md-scroll-shrink md-shrink-speed-factor="0.75" class="md-tall content-header md-whiteframe-z1">
        <md-icon ng-show="app.showMenuButton()" ng-click="app.showMenu()" class="menu-icon" md-font-icon="fa fa-bars"></md-icon>
        
<h1>SystemSettings</h1>

<span class="doc-module-name">system/SystemSettings</span>

    </md-toolbar>
    <md-content>
        
<div>
    

    
    <div class="content-block md-whiteframe-z1">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Methods</span>
        </h2>
    </md-toolbar>
    <md-list>
        
        <md-item>
            <md-item-content>
                <div class="md-tile-content">
                    <h3 class="docs-function-name">
                        all()
                        
                        
                    </h3>

                    <p><p>Loads all the system settings in the system and returns them as an object from the promise.</p>
<pre><code class="lang-js">d2.system.settings.all()
.then(systemSettings =&gt; {
  console.log(&#39;Analytics was last updated on: &#39; + systemSettings.keyLastSuccessfulResourceTablesUpdate);
});
</code></pre>
</p>

                    

                    
                    <div class="docs-function-returns">
                        <h4>
                            Returns <span class="type-hint type-hint-promise">Promise</span>
                        </h4>
                        <p><p>Promise that resolves with the systemsettings object from the api.</p>
</p>
                    </div>
                    

                    
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
        
        <md-item>
            <md-item-content>
                <div class="md-tile-content">
                    <h3 class="docs-function-name">
                        get(<span class="doc-function-parameter-wrap">systemSettingsKey <span class="type-hint type-hint-string">String</span></span>)
                        
                        
                    </h3>

                    <p><pre><code class="lang-js">d2.system.settings.get(&#39;keyLastSuccessfulResourceTablesUpdate&#39;)
.then(systemSettingsValue =&gt; {
  console.log(&#39;Analytics was last updated on: &#39; + systemSettingsValue);
});
</code></pre>
</p>

                    

                    
                    <div class="docs-function-returns">
                        <h4>
                            Returns <span class="type-hint type-hint-promise">Promise</span>
                        </h4>
                        <p><p>A promise that resolves with the value or will fail if the value is not available.</p>
</p>
                    </div>
                    

                    
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
        
    </md-list>
    </div>
    

    
</div>

    </md-content>
</body>
